#google_translate_element {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 6px;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}
