#google_translate_element {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 6px;
}

/* 隐藏 Google Translate 顶部工具条 */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

/* 移除 Google Translate 添加的 body 上边距 */
body {
  top: 0px !important;
}

/* 防止页面在加载翻译后抖动 */
body.goog-te-banner-frame {
  position: static !important;
}
